.label {
    font-size: 48px;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    -unity-font-definition: url('project://database/Assets/Thaleah_PixelFont/Materials/ThaleahFat_TTF%20SDF.asset?fileID=11400000&guid=8f39352d7459cb744a555761477efa96&type=2#ThaleahFat_TTF SDF');
    -unity-font: url('project://database/Assets/Thaleah_PixelFont/ThaleahFat.fontsettings?fileID=12800000&guid=652f7165b7c30ab46af6c4aad90a639b&type=2#ThaleahFat');
}

.header {
    font-size: 48px;
    -unity-font-style: bold;
    align-items: center;
    margin-top: 5%;
    -unity-font-definition: url('project://database/Assets/Thaleah_PixelFont/Materials/ThaleahFat_TTF%20SDF.asset?fileID=11400000&guid=8f39352d7459cb744a555761477efa96&type=2#ThaleahFat_TTF SDF');
    -unity-font: url('project://database/Assets/Thaleah_PixelFont/ThaleahFat.fontsettings?fileID=12800000&guid=652f7165b7c30ab46af6c4aad90a639b&type=2#ThaleahFat');
}

.header > .headerLabel {
    font-size: 48px;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    -unity-font-definition: url('project://database/Assets/Thaleah_PixelFont/Materials/ThaleahFat_TTF%20SDF.asset?fileID=11400000&guid=8f39352d7459cb744a555761477efa96&type=2#ThaleahFat_TTF SDF');
    -unity-font: url('project://database/Assets/Thaleah_PixelFont/ThaleahFat.fontsettings?fileID=12800000&guid=652f7165b7c30ab46af6c4aad90a639b&type=2#ThaleahFat');
}

.pauseMenuButton {
    font-size: 42px;
    margin-bottom: 15px;
    background-color: rgba(188, 188, 188, 0.5);
    color: rgba(27, 27, 27, 0.78);
    -unity-font-definition: url('project://database/Assets/Thaleah_PixelFont/Materials/ThaleahFat_TTF%20SDF.asset?fileID=11400000&guid=8f39352d7459cb744a555761477efa96&type=2#ThaleahFat_TTF SDF');
    -unity-font: url('project://database/Assets/Thaleah_PixelFont/ThaleahFat.fontsettings?fileID=12800000&guid=652f7165b7c30ab46af6c4aad90a639b&type=2#ThaleahFat');
}

.pauseMenuButton:hover {
    margin-bottom: 15px;
    background-color: rgb(188, 188, 188);
    color: rgb(27, 27, 27);
    -unity-font-definition: url('project://database/Assets/Thaleah_PixelFont/Materials/ThaleahFat_TTF%20SDF.asset?fileID=11400000&guid=8f39352d7459cb744a555761477efa96&type=2#ThaleahFat_TTF SDF');
    -unity-font: url('project://database/Assets/Thaleah_PixelFont/ThaleahFat.fontsettings?fileID=12800000&guid=652f7165b7c30ab46af6c4aad90a639b&type=2#ThaleahFat');
}

.button {
    -unity-font-definition: url('project://database/Assets/Thaleah_PixelFont/Materials/ThaleahFat_TTF%20SDF.asset?fileID=11400000&guid=8f39352d7459cb744a555761477efa96&type=2#ThaleahFat_TTF SDF');
    -unity-font: url('project://database/Assets/Thaleah_PixelFont/ThaleahFat.fontsettings?fileID=12800000&guid=652f7165b7c30ab46af6c4aad90a639b&type=2#ThaleahFat');
}
